# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas

import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [2]:
# Your code here:

salaries_chicago_df = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:

salaries_chicago_df.head(10)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
5,"ABBASI, CHRISTOPHER",STAFF ASST TO THE ALDERMAN,CITY COUNCIL,F,Salary,NaN,50436.0,NaN
6,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,NaN,46.10
7,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
8,"ABBATEMARCO, JAMES J",FIRE ENGINEER-EMT,FIRE,F,Salary,NaN,103350.0,NaN
9,"ABBATE, TERRY M",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:

salaries_chicago_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33183 entries, 0 to 33182
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               33183 non-null  object
 1   Job Titles         33183 non-null  object
 2   Department         33183 non-null  object
 3   Full or Part-Time  33183 non-null  object
 4   Salary or Hourly   33183 non-null  object
 5   Typical Hours      8022 non-null   float64
 6   Annual Salary      25161 non-null  float64
 7   Hourly Rate        8022 non-null   float64
dtypes: float64(3), object(5)
memory usage: 2.0+ MB

In [5]:
salaries_chicago_df.isna().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [6]:
# Your code here:

salaries_chicago_df["Salary or Hourly"].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [7]:
# Your code here:

for department in salaries_chicago_df["Department"].unique():
    employees = salaries_chicago_df[salaries_chicago_df["Department"] == department]["Department"].count()
    print(f"Department: {department}, Count: {employees}")

Department: POLICE, Count: 13414
Department: GENERAL SERVICES, Count: 980
Department: WATER MGMNT, Count: 1879
Department: OEMC, Count: 2102
Department: CITY COUNCIL, Count: 411
Department: AVIATION, Count: 1629
Department: STREETS & SAN, Count: 2198
Department: FIRE, Count: 4641
Department: FAMILY & SUPPORT, Count: 615
Department: PUBLIC LIBRARY, Count: 1015
Department: TRANSPORTN, Count: 1140
Department: MAYOR'S OFFICE, Count: 85
Department: HEALTH, Count: 488
Department: BUSINESS AFFAIRS, Count: 171
Department: LAW, Count: 407
Department: FINANCE, Count: 560
Department: CULTURAL AFFAIRS, Count: 65

Department: COMMUNITY DEVELOPMENT, Count: 207
Department: PROCUREMENT, Count: 92
Department: BUILDINGS, Count: 269
Department: ANIMAL CONTRL, Count: 81
Department: CITY CLERK, Count: 84
Department: BOARD OF ELECTION, Count: 107
Department: DISABILITIES, Count: 28
Department: HUMAN RESOURCES, Count: 79
Department: DoIT, Count: 99
Department: BUDGET & MGMT, Count: 46
Department: TREASURER, Count: 22
Department: INSPECTOR GEN, Count: 87
Department: HUMAN RELATIONS, Count: 16
Department: COPA, Count: 116
Department: BOARD OF ETHICS, Count: 8
Department: POLICE BOARD, Count: 2
Department: ADMIN HEARNG, Count: 39
Department: LICENSE APPL COMM, Count: 1

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [8]:
# Your code here:

hourly_rates = salaries_chicago_df[salaries_chicago_df["Salary or Hourly"] == "Hourly"]["Hourly Rate"]

st.ttest_1samp(hourly_rates, 30)

TtestResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92, df=8021)

In [9]:
# pvalue=4.3230240486229894e-92, so the wage/hour is significantly different then 30$

In [10]:
#a little bit more "pretty" code:

hourly_rates = salaries_chicago_df[salaries_chicago_df["Salary or Hourly"] == "Hourly"]["Hourly Rate"]

t_statistic, p_value = st.ttest_1samp(hourly_rates, 30)

alpha = 0.05

if p_value < alpha:
    print("Wage/hour is significantly different from $30/hr.")
else:
    print("there is not much diference from $30/hr.")

Wage/hour is significantly different from $30/hr.

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [11]:
# Your code here:

#higher then mean of $86000/year 
#95% confidence interval.

if_the_chief_lies = salaries_chicago_df[salaries_chicago_df["Salary or Hourly"] == "Salary"]["Annual Salary"]

t_statistic2, p_value2 = st.ttest_1samp(if_the_chief_lies, 86000)

alpha2 = 0.05

if p_value2 < alpha2:
    print("Chief is telling the true")
else:
    print("Chief if lying")

Chief is telling the true

In [12]:
p_value2

3.015758519916386e-09

Using the `crosstab` function, find the department that has the most hourly workers.

In [13]:
# Your code here:

chicado_pd_cross_tab = pd.crosstab(salaries_chicago_df["Department"], salaries_chicago_df["Salary or Hourly"])


department_with_most_hourly_workers = chicado_pd_cross_tab["Hourly"].idxmax()


print("Department with the higher amount of hourly workers:", department_with_most_hourly_workers)

Department with the higher amount of hourly workers: STREETS & SAN

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [14]:
# Your code here:

chicago_pd_hourly_wage = salaries_chicago_df[(salaries_chicago_df["Department"] == department_with_most_hourly_workers) & (salaries_chicago_df["Salary or Hourly"] == "Hourly")]

t_statistic3, p_value3 = st.ttest_1samp(chicago_pd_hourly_wage["Hourly Rate"], 35)

alpha3 = 0.05

if p_value3 < alpha3:
    print("Most likely true")
else:
    print("Most likely not true")

Most likely true

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [15]:
salaries_chicago_df

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
...,...,...,...,...,...,...,...,...
33178,"ZYLINSKA, KATARZYNA",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33179,"ZYMANTAS, LAURA C",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
33180,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33181,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
33182,"ZYSKOWSKI, DARIUSZ",CHIEF DATA BASE ANALYST,DoIT,F,Salary,NaN,115932.0,NaN

In [23]:
# Your code here:
#In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

hourly_wages = salaries_chicago_df[salaries_chicago_df["Salary or Hourly"] == "Hourly"]["Hourly Rate"]

sample_mean = hourly_wages.mean()

standard_error = st.sem(hourly_wages)

confidence_level = 0.95

degrees_of_freedom = len(hourly_wages) - 1

confidence_interval = st.t.interval(confidence_level, degrees_of_freedom, loc=sample_mean, scale=standard_error)
confidence_interval

(32.52345834488425, 33.05365708767623)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [26]:
# Your code here:

police_salaries = salaries_chicago_df[salaries_chicago_df["Salary or Hourly"] == "Salary"]["Annual Salary"]

sample_mean = police_salaries.mean()

standard_error = st.sem(hourly_wages)

confidence_level = 0.95

degrees_of_freedom = len(hourly_wages) - 1

confidence_interval = st.t.interval(confidence_level, degrees_of_freedom, loc=sample_mean, scale=standard_error)
confidence_interval

(86786.73469078004, 86787.26488952282)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [18]:
# Your code here: